* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-white :#fff;
$color-nav :rgb(255, 188, 2);
header {
    margin-top: 20px;
    nav {
        background: $color-nav;
        padding: 2rem;
    }
    p {
        font-size: 1.1rem;
        margin: 0;
        color: $color-white;
    }
}